.MisGruposPage {
  background: linear-gradient(#001529, #483D8B, #00CED1);  min-height: 100vh; 
  padding: 10px;
}
.titulo{
  color: white;
}

.estados{
  color: white;
}


.task-status-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
  }
  
  .task-status-button:hover {
    background-color: #1890ff;
    color: white;
  }
  
  .task-status-button:disabled {
    background-color: #f0f0f0;
    color: #ccc;
    cursor: not-allowed;
  }
  
  .task-status-button .anticon {
    margin-right: 8px;
  }
  
  .task-status-button.por-hacer {
    background-color: #ffec3d;
    color: #595959;
  }
  
  .task-status-button.en-proceso {
    background-color: #1890ff;
    color: white;
  }
  
  .task-status-button.hecho {
    background-color: #52c41a;
    color: white;
  }
  
  .kanban-board{
    background: transparent;
  }
  
  
